/*****************GENERAL********************/

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    overflow-y:scroll;
}

/*****************TITLE********************/

.colorTitle{
    color: white;
}

.marginTitle{
    margin-top: 27px;
    margin-left: 50px;
    margin-right: 20px;
}

/****************LIKED******************/
.heartsize{
    margin-left: 20px;
    padding-left:10px;
    width: 25px;
    margin-bottom:8px;
    color:white;
}

.white{
    color:white;
}


/*****************LOGO********************/

.logofix{
    
    border-radius: 10%;
    margin-left: 0px;
    height: 50px;
}

/*****************SEARCH************************/
.searchbar
{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 13px;
}

/*****************NAV BUTTONS********************/

.floater
{

    float:right;
}

.navbgcolor{

	background: linear-gradient(black,#1D1D1D);
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}