/***************GENERAL***************************/

.bgcolor{

	background-image: url("../img/earthbg.jpg");
	background-attachment: fixed;
	background-repeat: none;
	background-size: cover;
}
.inline{
	display: inline-block;
}


.margintop2{

	margin-top: 13px;
}

.padtopcat
{

	padding-top:8px;
}
.nopad
{
	padding: 0;
}




/***************POST EFFECTS*********************/

.postEffects{
	border: 1px black solid;

}

.imgsize{
	width:100%;
	border-radius: 5%;
	margin-bottom: 0px;
}

.textsize{
	width:100%;
	word-wrap: break-word;

}

.wellmargin{

	margin-top: 0px;
	padding-top: 5px;
}

.liked{
	color:green;
}

.likesize{
	width:20px;
}

/**************MODAL POPUP*******************/



.modalAlign{
	width: 100px;

}

.inputNComment{
	width: 70%;

}
.inputComment{
	width: 70%;
	height: 80%;
}



/*************MASONRY COLUMNS*********************/

*, *:before, *:after {box-sizing:  border-box !important;}


.row {
 -moz-column-width: 200px;
 -webkit-column-width: 200px;

 -moz-column-gap: 0px;
 -webkit-column-gap:0px; 
 margin:0;
 padding:0;
  
}

.item {
 display: inline-block;
 padding:  0px;
 width:  200px;
 margin: 0; 
}

.well {
 position:relative;
 display: block;
}